html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/*-- body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 2, 4, 0.1); --adjust opacity 
  pointer-events: none;
  z-index: -1;
} */

header {
    background-color: #e9ecef;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    position : fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
nav {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
}
nav a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    font-size: large;
}
nav a:hover {
    background-color: #ddd;
    border-radius: 5px;
    transform: scale(1.02);
    transition: transform 0.3s ease;
}

main {
    margin-top: 25px;
    padding: 40px;
    font-family: Arial, sans-serif;
    background-color: palegoldenrod;
}
main section {
    margin-top: 20px ;
    margin-bottom: 20px;
    padding: 10px ;
    border: 1px solid #ddd;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 500;
}
#hero {
    height: 400px;
    background-image: url("_images/Skillz_Domain_Banner.png");
    background-size: cover;           /* fills area, keeps aspect ratio */
    background-position: center;      /* centers image */
    background-repeat: no-repeat;
}
#hero::before {
    content: "";
    position: absolute;
    inset: 0;
    width: fit-content;
    height: fit-content;
    background: rgba(0, 0, 0, 0.1); 
    z-index: 501;
}
#hero #text {
    background: #702a0c;
    text-align: center;
    margin-top: 250px;
    padding: 10px;
    color: white;
    left: 0;
    right: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    z-index: 502;
}
#text:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease;
}

#why-us {
    margin-bottom: 0%;
}
main h2 {
    background-color: #702a0c;
    color: white;
    padding: 10px;
}


footer {
    background-color: #702a0c;
    padding: 10px;
    text-align: center;
    color : white;
    font-family: Arial, sans-serif;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 500;
}
footer hr {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 75%;
    color: #ffde59;
}
footer a {
    color: white;
    text-decoration: none;
}